/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}


@layer components {
  html{
    @apply
    bg-black
    text-white
  }

  .primary-link{
    @apply
    text-teal-500
    font-bold
    hover:underline
    cursor-pointer
  }
}
